{% extends "base/base.html" %}

{% load socialaccount %}
{% providers_media_js %}

{% block contents %}
    <div class="banner-inner">
        {{ user.socialaccount_set.all.0.provider }}
        {% if user.is_authenticated %}
        {% comment %} {% get_social_accounts user as accounts %} {% endcomment %}
        {{ user }}
        {% for account in user.socialaccount_set.all %}
            {{ account.extra_data.nickname }}
            {% comment %} <img src={{ account.extra_data.profile_image}}> {% endcomment %}
            <a href="/accounts/logout"> 로그아웃 </a>
        {% endfor %}
        {% else %}
            <a href="/accounts/naver/login/?process=login">naver</a>
        {% endif %}
    </div>
{% endblock contents %}


