@font-face {
  font-family: "iconfont_hp"; /* Project id 1376904 */
  src: url('iconfontea3a.woff2?t=1644909377632') format('woff2'),
       url('iconfontea3a.woff?t=1644909377632') format('woff'),
       url('iconfontea3a.ttf?t=1644909377632') format('truetype');
}

.iconfont {
  font-family: "iconfont_hp" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icona-12_icon_jumpto:before {
  content: "\e631";
}

.icon_icon_add:before {
  content: "\e69a";
}

.icon_icon_customer:before {
  content: "\e699";
}

.icona-16_icon_arrow_right:before {
  content: "\e697";
}

.icon_icon_email:before {
  content: "\e696";
}

.icon_icon_university:before {
  content: "\e695";
}

.icon_icon_qa:before {
  content: "\e67c";
}

.icon_icon_pg:before {
  content: "\e678";
}

.icon_icon_pm:before {
  content: "\e679";
}

.icon_icon_ui:before {
  content: "\e67b";
}

.icon_icon_education:before {
  content: "\e674";
}

.icon_icon_retail:before {
  content: "\e675";
}

.icon_icon_medical:before {
  content: "\e676";
}

.icon_icon_finance:before {
  content: "\e677";
}

.icon_icon_Facebook:before {
  content: "\e66e";
}

.icon_icon_LinkedIn:before {
  content: "\e66f";
}

.icon_icon_Twitter:before {
  content: "\e670";
}

.icon_icon_feedback:before {
  content: "\e641";
}

.icon_icon_discussion:before {
  content: "\e642";
}

.icon_icon_all:before {
  content: "\e643";
}

.icon_icon_questions:before {
  content: "\e644";
}

.icon_icon_liked:before {
  content: "\e7e1";
}

.icon_icon_variety:before {
  content: "\e7de";
}

.icon_icon_pagenumber:before {
  content: "\e7df";
}

.icon_icon_edit_share:before {
  content: "\e7e0";
}

.icon16-tag-heart:before {
  content: "\e7dd";
}

.icon_icon_time:before {
  content: "\e63f";
}

.icon_list_figma:before {
  content: "\e71e";
}

.icon_list_styles:before {
  content: "\e721";
}

.icon20_icon_Scrolldown:before {
  content: "\e63c";
}

.icon_tag_refresh:before {
  content: "\e63b";
}

.icon_tag_left_arrow:before {
  content: "\e638";
}

.icon_tag_right_arrow:before {
  content: "\e639";
}

.icon_tag_home:before {
  content: "\e63a";
}

.icon_demo_course:before {
  content: "\e669";
}

.icon24_icon_like:before {
  content: "\e737";
}

.icon24_icon_search:before {
  content: "\e738";
}

.icon24_icon_edit_square:before {
  content: "\e739";
}

.icon24_icon_home_btn:before {
  content: "\e73a";
}

.icon16_icon_comments:before {
  content: "\e73b";
}

.icon_list_feishu:before {
  content: "\e610";
}

.icon_icon_doubledown:before {
  content: "\e730";
}

.icon_icon_notice:before {
  content: "\e71f";
}

.icon_icon_search_normal:before {
  content: "\e71d";
}

.icon_icon_calendar:before {
  content: "\e710";
}

.icon_demo_mainboard:before {
  content: "\e711";
}

.icon_icon_download:before {
  content: "\e712";
}

.icon_icon_delete:before {
  content: "\e713";
}

.icon_icon_doubleright:before {
  content: "\e714";
}

.icon_icon_mainboard:before {
  content: "\e715";
}

.icon_icon_doubleleft:before {
  content: "\e717";
}

.icon_icon_right:before {
  content: "\e718";
}

.icon_icon_edite:before {
  content: "\e719";
}

.icon_icon_left:before {
  content: "\e71a";
}

.icon_icon_show:before {
  content: "\e71b";
}

.icon_icon_vertical_right:before {
  content: "\e71c";
}

.icon_icon_like:before {
  content: "\e720";
}

.icon_icon_Windows:before {
  content: "\e621";
}

.icon_icon_Macos:before {
  content: "\e622";
}

.icon_icon_gift:before {
  content: "\e6f5";
}

.icon_check:before {
  content: "\e6e1";
}

.icon_arrow_right:before {
  content: "\e60d";
}

.icon_people:before {
  content: "\e612";
}

.iconemail:before {
  content: "\e60e";
}

.icon_email:before {
  content: "\ea3b";
}

.icon_phone:before {
  content: "\e611";
}

.icon_LinkedIn:before {
  content: "\ea38";
}

.icon_Twitter:before {
  content: "\ea39";
}

.icon_Facebook:before {
  content: "\ea3a";
}

.icon_icon_info:before {
  content: "\ea3c";
}

.icontop:before {
  content: "\e60f";
}

.icon_download:before {
  content: "\e698";
}

.icon_top:before {
  content: "\e693";
}

.icon_service:before {
  content: "\e694";
}

.icon_list_pc:before {
  content: "\e605";
}

.icon_list_app:before {
  content: "\e606";
}

.icon_list_weixin:before {
  content: "\e607";
}

.icon_list_mock:before {
  content: "\e608";
}

.icon_list_sk:before {
  content: "\e609";
}

.icon_list_xd:before {
  content: "\e60a";
}

.icon_list_ps:before {
  content: "\e60b";
}

.icon_list_rp:before {
  content: "\e60c";
}

.icon_buy_plus:before {
  content: "\e603";
}

.icon_buy_minus:before {
  content: "\e604";
}

.icon_down_arrow:before {
  content: "\e602";
}

.icon_check_tick:before {
  content: "\e600";
}

.icon_price_tick:before {
  content: "\e601";
}

.icon_menu:before {
  content: "\e691";
}

.icon_menu_close:before {
  content: "\e692";
}

.icon_weibo:before {
  content: "\ea34";
}

.icon_zhihu:before {
  content: "\ea35";
}

.icon_weixin:before {
  content: "\ea36";
}

.icon_video_close:before {
  content: "\ea33";
}

.icon_play_circle:before {
  content: "\e68f";
}

.icon_tree_edit:before {
  content: "\ea32";
}

.icon_weizhi:before {
  content: "\ea2e";
}

.icon_youjian:before {
  content: "\ea2f";
}

.icon_shouji:before {
  content: "\ea30";
}

.icon_fuzhi:before {
  content: "\ea31";
}

.icon_meShare:before {
  content: "\ea2c";
}

.icon_melock:before {
  content: "\ea2d";
}

.icon_demo_close:before {
  content: "\e690";
}

.icon_arrow_left_gray:before {
  content: "\e68d";
}

.icon_arrow_right_gray:before {
  content: "\e68e";
}

.icon_broad_back:before {
  content: "\e686";
}

.icon_Right:before {
  content: "\e687";
}

.icon_Left:before {
  content: "\e688";
}

.icon_auther:before {
  content: "\e689";
}

.icon_search:before {
  content: "\e68a";
}

.icon_time:before {
  content: "\e68b";
}

.icon_views:before {
  content: "\e68c";
}

.icon_broad_pre-copy:before {
  content: "\ea37";
}

.icon_left:before {
  content: "\e682";
}

.icon_right:before {
  content: "\e683";
}

.icon_logo:before {
  content: "\e8f8";
}

