beautifulsoup4
bs4
Django
django-allauth
django-rest-framework
djangorestframework
flake8
joblib
JPype1
konlpy
mysqlclient
numpy
pandas
Pillow
PyMySQL
requests
requests-oauthlib
scikit-learn
scipy
SQLAlchemy
sqlparse
statsmodels
