<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/icon/iconfont432b.css' %}" rel="stylesheet">
  <script src="{% static 'js/lib/jquery.min.js' %}"></script>
  <!-- GoogleFonts-->
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Cabin+Sketch&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock head %}
</head>

<body class="home">
    <header class="header-of-page">
        <div class="header-content black-bg">
            <a href="../../" class="logo">
                🍚 밥비트
            </a>
            <div class="nav-menu">
                <div class="nav-item">
                    <span>예측관계</span>
                </div>
                <div class="nav-item">
                    <span>물가정보<i class="iconfont icon_broad_back"></i></span>
                    <div class="nav-menu-drop">
                        <ul class="download-nav">
                            <li>
                                <h3>품목</h3>
                                <div class="download-box idoc-box">
                                    <a href="{% url 'pricePredict:price_page' 8%}">
                                        <i class="iconfont">🐔</i>
                                        <p>닭고기</p>
                                        <span>닭 사료에 해당하는 곡물 지표에 따른 닭고기의 가격을 확인할 수 있습니다.</span>
                                    </a>
                                    <a href="{% url 'pricePredict:price_page' 3%}">
                                        <i class="iconfont">🐷</i>
                                        <p>돼지고기</p>
                                        <span>돼지 사료에 해당하는 곡물 지표에 따른 돼지고기의 가격을 확인할 수 있습니다.</span>
                                    </a>
                                    <a href="{% url 'pricePredict:price_page' 5%}">
                                        <i class="iconfont">🐮</i>
                                        <p>소고기</p>
                                        <span>소 사료에 해당하는 곡물 지표에 따른 소고기의 가격을 확인할 수 있습니다.</span>
                                    </a>
                                    <a href="{% url 'pricePredict:price_page' 9%}">
                                        <i class="iconfont">🥚</i>
                                        <p>계란</p>
                                        <span>계란은 닭고기의 지표와 닭 평균가의 지표가 더해져 가격이 계산됩니다.</span>
                                    </a>
                                    <a href="{% url 'pricePredict:price_page' 1%}">
                                        <i class="iconfont">🍜</i>
                                        <p>라면</p>
                                        <span>밀 가격에 따른 라면이 가격을 확인할 수 있습니다.</span>
                                    </a>
                                    <a href="{% url 'pricePredict:price_page' 6%}">
                                        <i class="iconfont">☕</i>
                                        <p>커피</p>
                                        <span>설탕 및 카카오의 가격에 따른 커피 가격을 확인할 수 있습니다.</span>
                                    </a>
                                </div>
                            </li>
                            <li class="mockplus-download-li">
                                <h3>Mockplus Classic <span class="edition">(Desktop prototyping tool)</span></h3>
                                <div class="download-box">
                                    <a href="download/mockplus-classic.html" target="_blank">
                                        <i class="iconfont icon_list_pc"></i>
                                        <p>Mockplus for Windows/Mac</p>
                                        <span>Prototype faster, smarter and easier</span>
                                    </a>
                                    <a href="download/mockplus-rp-app.html" target="_blank">
                                        <i class="iconfont icon_list_app"></i>
                                        <p>Mockplus for iOS/Android</p>
                                        <span>Test app prototypes on real devices</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="/rank">랭킹</a>
                </div>
                <div class="nav-item">
                    <a href="./qna">QnA</a>
                </div>
            </div>
            <div class="header-user">
                {% if user.is_authenticated %}
                    <div class="header-user-profile">
                        <p class='header-user-profile-text'>Point : {{ user.point }}</p>
                        <div class="base_profile_img_container">
                            {% if user.profile_img %}
                            <img class='base_profile_img' src="/media/{{ user.profile_img }}">
                            {% else %}
                            <img class='base_profile_img' src="/media/profile/default.png">
                            {% endif %}
                        </div>
                        <p class='header-user-profile-text'>{{ user.username }}</p>
                    </div>
                    <form class="header_profile_logout" method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <a href="/mypage/profile" class="user-btn" rel="nofollow">마이페이지</a>
                    <button class="user-btn" type="submit" style="cursor:pointer">로그아웃</button>
                    </form>
                {% else %}
                    <a href="/accounts/login" class="login" rel="nofollow">로그인 </a>
                    <a href="/accounts/signup" class="user-btn" rel="nofollow">회원가입</a>
                {% endif %}
            </div>
            <!--        手机端显示-->
            <div class="iconfont icon_menu ph-menu-icon"></div>
            <div class="ph-head">
                <a href="indexddd1.html?home=1" class="logo">
                    <i class="iconfont icon_logo"></i>
                    &nbsp;Mockplus
                </a>
                <div class="iconfont icon_menu_close ph-menu-icon"></div>
            </div>
        </div>
        <div class="header-lark">
            <a href="https://app.mockplus.com/app"><i class="iconfont icon_tag_home"></i></a>
            <a href="javascript:location.replace(location);"><i class="iconfont icon_tag_refresh"></i></a>
        </div>
    </header>
    <div class="Container">
        {% block contents %} 
        {% endblock contents%}
    </div>
    <script src="{% static 'js/base.js' %}"></script>
    {% block script_section %} 
    {% endblock script_section%}
</body>
</html>