{% extends 'base/base.html' %}
<html lang="ko">
{% load static %}

{% block head %}
    <title>질문게시판</title>
    <meta charset="utf-8" />
    <style>
        span{color:black}
        a{text-decoration: none !important;}
        body{font-family: 'Noto Sans KR', sans-serif !important; }
        th{width:100px;text-align: center !important; background-color:#d9e6e9;}
        th, tr{padding:12px !important; vertical-align:middle !important;font-size: 1.6rem;}
        header{width:100% !important;}
        .header-of-page {height:80px;}
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="{% static 'jquery/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock head %}

{% block contents %}
<table class="table table-striped table-bordered" style="width:700px; margin-top:230px;margin-left: auto; margin-right: auto;">
    <tr>
        <th>No.</th>
        <td>{{ board.board_id }}</td>
    </tr>
    <tr>
        <th>제목</th>
        <td>{{ board.board_title }}</td>
    </tr>
    <tr>
        <th>내용</th>
        <td>{{ board.board_content | linebreaksbr}}</td>
    </tr>
    <tr>
        <th>작성자</th>
        <td>{{ }}</td>
    </tr>
    <tr>
        <th>작성일</th>
        <td>{{ board.board_reg_date |date:"Y.m.d H:i" }}</td>
    </tr>
</table>
{% endblock contents %}