{% extends 'base/base.html' %}
<html lang="ko">
{% load static %}

{% block head %}
    <title>질문게시판</title>
    <meta charset="utf-8" />
    <style>
        span{color:black}
        a{text-decoration: none !important;}
        body{font-family: 'Noto Sans KR', sans-serif !important; }
        th{width:100px;text-align: center !important; background-color:#d9e6e9;}
        th, tr{padding:12px !important; vertical-align:middle !important;font-size: 1.6rem;}
        td{vertical-align : middle !important;}
        header{width:100% !important;}
        .header-of-page {height:80px;}
        .reply_write{width:700px;margin-left: auto; margin-right: auto;}
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="{% static 'jquery/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        function deleteSubmit(board_YN, id, owner_id){
            if( confirm('정말 삭제하시겠습니까?')){
                if(owner_id == {{user.id}} ){
                    let form = document.querySelector('form[id=deleteForm]');
                    document.querySelector('#deleteForm input[name=delete_YN]').value = board_YN;
                    document.querySelector('#deleteForm input[name=id]').value = id;
                    document.querySelector('#deleteForm input[name=board_id]').value = {{board.board_id}};
                    form.submit();
                }
                else{
                    alert('본인이 작성한 글만 삭제 가능 합니다.');
                }
            }
        }
        function replySubmit(){
            if(window.event.keyCode == 13){
                document.querySelector('#replyForm input[name=board_id]').value = {{ board.board_id }};
                document.querySelector('#replyForm input[name=user_id]').value = {{ user.id }};
                let form = document.querySelector('#replyForm');
                form.submit();
            }
            if(arguments[0]){
                document.querySelector('#replyForm input[name=board_id]').value = {{ board.board_id }};
                document.querySelector('#replyForm input[name=user_id]').value = {{ user.id }};
                let form = document.querySelector('#replyForm');
                form.submit();
            }
        }
    </script>
{% endblock head %}

{% block contents %}
<div style="width:700px;margin-left: auto; margin-right: auto;margin-top:150px;">
    <span onclick='deleteSubmit("Y", {{board.board_id}}, {{board.user.id}})'>
        <button type="submit" style="margin-left:580px;border-radius:80px;width:120px; border:0;background-color:#d9e6e9;padding:10px;color:black;font-size:15px;">삭제</button>
    </span>
</div>

<table class="table table-striped table-bordered" style="margin-top:20px; width:700px; margin-left: auto; margin-right: auto;">
    <tr>
        <th>No.</th>
        <td>{{ board.board_id }}</td>
    </tr>
    <tr>
        <th>제목</th>
        <td>{{ board.board_title }}</td>
    </tr>
    <tr>
        <th>내용</th>
        <td>{{ board.board_content | linebreaksbr}}</td>
    </tr>
    <tr>
        <th>작성자</th>
        <td>{{ board.user.username }}</td>
    </tr>
    <tr>
        <th>작성일</th>
        <td>{{ board.board_reg_date |date:"Y.m.d H:i" }}</td>
    </tr>
</table>

<div style="font-size: 1.6rem; width:700px;margin-left: auto; margin-right: auto; margin-top:50px; font-weight:700;">답변</div>
<hr style="width:700px;">
<!-- 댓글 보여주는 view -->
<table class="table table-striped table-bordered" style="width:700px;margin-left: auto; margin-right: auto;">
    {%for reply in replys%}
    <tr>
        {% comment %} <td style='width:200px;'><div style= 'margin-left:30px;'>{{reply.user.username}}</div></td> {% endcomment %}
        <td style="width:60%;">{{reply.reply_content | linebreaksbr }}</td>
        <td style='width:200px;'>{{reply.reg_date|date:"m.d  H:i"}}</td>
    </tr>
    {%endfor%}
</table>

<!-- 댓글 달기 -->
<div class='reply_write'>
<form method="post" id='replyForm' onSubmit="return false;">
    {% csrf_token %}
    {{formreply.board_id.as_hidden}}
    {{formreply.user_id.as_hidden}}
    <textarea type="text" name="reply_content" maxlength="1500" required id="id_reply_content" rows="3" cols="96"  placeholder="댓글을 입력하세요"></textarea>
</form>
<button onclick='replySubmit(true)' style="margin-top: 20px;margin-left:580px;border-radius:80px;width:120px; border:0;background-color:#d9e6e9;padding:10px;color:black;font-size:15px;">등록</button>
</div>

<form method="post" id='deleteForm'>
    {% csrf_token %}
    {{formdelete.delete_YN.as_hidden}}
    {{formdelete.id.as_hidden}}
    {{formdelete.board_id.as_hidden}}
</form>

{% endblock contents %}