<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <title>질문게시판</title>
  <meta charset="utf-8" />
  <style>
    span{color:black}
    a{text-decoration: none !important;}
    body{font-family: 'Noto Sans KR', sans-serif !important;}
    .page-item.active .page-link{background-color:#d9e6e9 !important; border:0;}
  </style>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/icon/iconfont432b.css' %}" rel="stylesheet">
  <script src="{% static 'js/lib/jquery.min.js' %}"></script>
  <!-- GoogleFonts-->
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Cabin+Sketch&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock head %}
</head>

<body class="home">
    <header class="header-of-page" style="height:80px;">
        <div class="header-content black-bg">
            <a href="./" class="logo">
                🍚 밥비트
            </a>
            <!-- nav시작 -->
            <div class="nav-menu">
                <div class="nav-item">
                    <span>예측관계</span>
                </div>
                <div class="nav-item">
                    <span>물가정보<i class="iconfont icon_broad_back"></i></span>
                    <div class="nav-menu-drop">
                        <ul class="download-nav">
                            <li>
                                <h3>품목</h3>
                                <div class="download-box idoc-box">
                                    <a href="https://help.mockplus.com/p/249" target="_blank">
                                        <i class="iconfont">🐔</i>
                                        <p>닭고기</p>
                                        <span>닭 사료에 해당하는 곡물 지표에 따른 닭고기의 가격을 확인할 수 있습니다.</span>
                                    </a>
                                    <a href="https://help.mockplus.com/p/498" target="_blank">
                                        <i class="iconfont">🐷</i>
                                        <p>돼지고기</p>
                                        <span>돼지 사료에 해당하는 곡물 지표에 따른 돼지고기의 가격을 확인할 수 있습니다.</span>
                                    </a>
                                    <a href="https://help.mockplus.com/p/323" target="_blank">
                                        <i class="iconfont">🐮</i>
                                        <p>소고기</p>
                                        <span>소 사료에 해당하는 곡물 지표에 따른 소고기의 가격을 확인할 수 있습니다.</span>
                                    </a>
                                    <a href="https://help.mockplus.com/p/250" target="_blank">
                                        <i class="iconfont">🥚</i>
                                        <p>계란</p>
                                        <span>계란은 닭고기의 지표와 닭 평균가의 지표가 더해져 가격이 계산됩니다.</span>
                                    </a>
                                    <a href="https://help.mockplus.com/p/251" target="_blank">
                                        <i class="iconfont">🍜</i>
                                        <p>라면</p>
                                        <span>밀 가격에 따른 라면이 가격을 확인할 수 있습니다.</span>
                                    </a>
                                    <a href="https://help.mockplus.com/p/507#1" target="_blank">
                                        <i class="iconfont">☕</i>
                                        <p>커피</p>
                                        <span>설탕 및 카카오의 가격에 따른 커피 가격을 확인할 수 있습니다.</span>
                                    </a>
                                </div>
                            </li>
                            <li class="mockplus-download-li">
                                <h3>Mockplus Classic <span class="edition">(Desktop prototyping tool)</span></h3>
                                <div class="download-box">
                                    <a href="download/mockplus-classic.html" target="_blank">
                                        <i class="iconfont icon_list_pc"></i>
                                        <p>Mockplus for Windows/Mac</p>
                                        <span>Prototype faster, smarter and easier</span>
                                    </a>
                                    <a href="download/mockplus-rp-app.html" target="_blank">
                                        <i class="iconfont icon_list_app"></i>
                                        <p>Mockplus for iOS/Android</p>
                                        <span>Test app prototypes on real devices</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="nav-item">
                    <a href="./rank">랭킹</a>
                </div>

                <div class="nav-item">
                    <a href="./qna">QnA</a>
                </div>

            </div>
            <!-- nav 끝 -->

            <!-- 로그인 시작 -->
            <div class="header-user">
                {% if user.is_authenticated %}
                    <div class="header-user-profile">
                        <p class='header-user-profile-text'>Point : {{ user.point }}</p>
                        <div class="base_profile_img_container">
                            {% if user.profile_img %}
                            <img class='base_profile_img' src="/media/{{ user.profile_img }}">
                            {% else %}
                            <img class='base_profile_img' src="/media/profile/default.png">
                            {% endif %}
                        </div>
                        <p class='header-user-profile-text'>{{ user.username }}</p>
                    </div>
                    <form class="header_profile_logout" method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button class="user-btn" type="submit" style="cursor:pointer">로그아웃</button>
                    </form>
                {% else %}
                    <a href="/accounts/login" class="login" rel="nofollow">로그인 </a>
                    <a href="/accounts/signup" class="user-btn" rel="nofollow">회원가입</a>
                {% endif %}
            </div>
            <!-- 로그인 끝 -->
        </div>

        <div class="header-lark">
            <a href="https://app.mockplus.com/app"><i class="iconfont icon_tag_home"></i></a>
            <a href="javascript:location.replace(location);"><i class="iconfont icon_tag_refresh"></i></a>
        </div>
    </header>
    <script src="{% static 'js/base.js' %}"></script>


   

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <div class="container" style="margin-top:150px;">
            <div class="row">
                <div class="col-auto mr-auto">
                </div>
                <div class="col-auto">
                    <a class="btn btn-primary" href="/post" role="button" style="border-radius:80px;border:0;background-color:#d9e6e9;padding:10px;color:black;">ㅤ질문 작성ㅤ</a>
                </div>
            </div>
            <table class="table" style="margin-top:20px;">
                <div>
                    <tr class="text-center">
                        <th scope="col">No.</th>
                        <th scope="col">제목</th>
                        {% comment %} <th scope="col">내용</th> {% endcomment %}
                        <th scope="col">작성일</th>
                        {% comment %} <th scope="col">수정일</th> {% endcomment %}
                        <th scope="col">작성자</th>
                    </tr>
                </div>
                <tbody>
                    {% for board in boards %}
                        <tr class="text-center">
                            <th scope="row">
                                <span>{{ board.board_id }}</span>
                            </th>
                            <td>
                                <a href="/post/{{ board.board_id }}">
                                    <span>{{ board.board_title }}</span>
                                </a>
                            </td>
                            {% comment %} <td>
                                <span>{{ board.board_content }}</span>
                            </td> {% endcomment %}
                            <td>
                                <span>{{ board.board_reg_date | date:"Y-m-d h:i" }}</span>
                            </td>
                            {% comment %} <td>
                                <span>{{ board.board_mod_date | date:"Y-m-d h:i" }}</span>
                            </td> {% endcomment %}
                            {% comment %} <td>
                                <span>{{ board.user }}</span>
                            </td>  {% endcomment %}
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>

           
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center" style="margin-top:40px;">
                <!-- 이전페이지 -->
                {% if boards.has_previous %}
                <a class="page-link"  style="color:black;" href="?page=1">처음</a>
                <li class="page-item">
                    <a class="page-link" style="color:black;"href="?page={{ boards.previous_page_number }}"><</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" style="color:black;" tabindex="-1" aria-disabled="true" href="#"><</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in boards.paginator.page_range %}
                {% if page_number >= boards.number|add:-5 and page_number <= boards.number|add:5 %}
                    {% if page_number == boards.number %}
                    <li class="page-item active" aria-current="page" style = "color: yellow;">
                        <a class="page-link" style="color:black;" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" style="color:black;" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if boards.has_next %}
                <li class="page-item">
                    <a class="page-link" style="color:black;" href="?page={{ boards.next_page_number }}">></a>
                </li>
                <a class="page-link" style="color:black;" href="?page={{ boards.paginator.num_pages }}">끝</a>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" style="color:black;" tabindex="-1" aria-disabled="true" href="#">></a>
                </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
           
            
        </div>
        <script src="{% static 'jquery/js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>