
<!-- base.html 적용하기 -->
{% extends 'base/base.html' %}
<html lang="ko">
{% load static %}

{% block head %}
    <title>질문게시판</title>
    <meta charset="utf-8" />
    <style>
        span{color:black}
        a{text-decoration: none !important;}
        body{font-family: 'Noto Sans KR', sans-serif !important;}
        th{width:100px;text-align: center !important; background-color:#d9e6e9;}
        th, tr{padding:12px !important; vertical-align:middle !important;font-size: 1.6rem;}
        .header-of-page {height:80px;}
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock head %}

{% block contents %}
    <form action="{% url 'qandaBoard:post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table class="table table-striped table-bordered" style="width:700px; margin-top:150px;margin-left: auto; margin-right: auto;">
            <tr>
                <th>제목</th>
                <td><input type="text" name="board_title" class="form-control" id="inputTitle" value ='{{board.board_title}}' style='border:1px solid black;'></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><textarea type="text" name="board_content" class="form-control" id="inputContent" rows="10" cols="100"></textarea></td>
            </tr>
        </table>
        
        <br>
        <input type='hidden' value='{{board.board_id}}' name = 'board_id'/>
        <div style="margin:0 auto; width:125px;">
            <input type="submit" style="border-radius:80px;width:120px; border:0;background-color:#d9e6e9;padding:10px;color:black;font-size:15px;" role="button" value="  등록  ">  
        </div>
    </form>    
{% endblock contents %}
