{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/pricePredict/price.css' %}" rel="stylesheet">
<link href="{% static 'css/pricePredict/bootstrap-datepicker.css' %}" rel="stylesheet">
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
{% endblock head %}

{% block contents %}
<br><br><br><br>
<!-- 헤더 부분에 가려서 임시로 끌어내려놨음  -->
<div class ="p_Container">
  <div class = "catagori-Nav">
  {% for pd in pd_list %}
  <li class="page-item">
      {% if pd.pNo ==  product_info.pNo %}
      <a class="select" href='../{{ pd.pNo }}'>
          {{ pd.pName }}
      </a>
      {% else %}
      <a class="non-select" href='../{{ pd.pNo }}'>
          {{ pd.pName }}
      </a>
      {% endif %}
  </li>
  {% endfor %}
  </div>
  <section class = "title_section">
      <h1>{{product_info.pName}}</h1>
  </section>
  <div class = "datepicker">
      <input type="text" id="datePicker" value={{today.year}}-{{today.month}}-{{today.day}}>
  </div>
  <section class ="chartarea">
      <div id="chartdiv"></div>
  </section>
</div>


<div class="banner-inner" >
  <div class="predict" style="padding-left:800px; padding-top:150px">
    <h2><bold>{{product_info.pName}}</bold>의 물가는 <strong>{{lastmonth}}월 대비 XXX원(XX%)</strong> 예상됩니다.<br><br><br></h2>
  </div>
  
  <form name="form1" style="width:500px; height:100px; padding-left:800px; padding-top:0px">
    <fieldset>
      <legend>{{product_info.pName}}</legend>
      <ul id="info">
        <li>
          <div style="padding-bottom:10px">
            <label for="price"> 현재 가격(1개)</label>
            <input type="text" name="price" value={{product_info.price}} style="width:100px; height:30px" readonly>원
          </div>
        </li>
        <li>
            <div style="padding-bottom:10px">
              
              <label for="quantity">수량</label>
              <input type="text" name="quantity" value="1" max="" style="width:100px; height:30px">개
              <input type="button" value=" + " name="add">
              <input type="button" value=" - " name="minus">
            </div>
        </li>
        <li>
          <div>
            <label for="total">최종 가격</label>
            <input type="text" name="total" value={{product_info.price}}*{{quantity}} style="width:100px; height:30px" readonly>원
          </div>
        </li>
      </ul>
    </fieldset>

    <div>
      <input type="submit" value="구매" onclick="window.open('purchase.html')">
    </div>
  </form>
  
    <br>
    <div class="recommend" style="padding-top:100px; padding-left:50px; padding-bottom:20px">
      <h2> 구매추천</h2>
      <h6> 해당 가격은 coupang 랭킹 기준으로 반영됩니다.</h6>
    </div>
    <div class="others" style="padding-left:50px">
      <p style="padding-bottom:10px">
        {% for pd in pd_list %}
        {{pd.pName}} &nbsp;&nbsp;&nbsp;&nbsp;<u>배송비 포함</u>
        <input type="button" value="구매하러 가기" style="width:200px; height:30px; margin-bottom:10px" onclick="window.open('../{{ pd.pNo }}')"><br>
        {% endfor %}
      </p>
    </div>

</div>
{% endblock contents %}

{% block contents %}
    <div class ="p_Container">
        <div class = "catagori-Nav">
        {% for pd in pd_list %}
        <li class="page-item">
            {% if pd.pNo ==  product_info.pNo %}
            <a class="select" href='../{{ pd.pNo }}'>
                {{ pd.pName }}
            </a>
            {% else %}
            <a class="non-select" href='../{{ pd.pNo }}'>
                {{ pd.pName }}
            </a>
            {% endif %}
        </li>
        {% endfor %}
        </div>
        <section class = "title_section">
            <h1>{{icon}} {{product_info.pName}}</h1>
            <li> 대형마트 "원가" 기준</li>
        </section>
        <div class= "line"></div>
        <div id = "content-area">
            <div id = "content_1">
                <div class = "datearea">
                    <li>날짜를 선택해 원하는 차트를 이동해보세요👉</li>
                    <div class = "datepicker">
                        <input type="text" id="datePicker" value={{today.year}}-{{today.month}}-{{today.day}}>
                    </div>
                </div>
                <section class ="chartarea">
                    <div id="chartdiv"></div>
                </section>
            </div>
            <div id = "content_2">

            </div>
        </div>
    </div>
{% endblock contents %}

{% block script_section %}
<script src="{% static 'js/pricePredict/amcharts.js'%}"></script>
<script src="{% static 'js/pricePredict/bootstrap-datepicker.js'%}"></script>
<script>
    const csrftoken = getCookie('csrftoken');
	$(function() {
		$('#datePicker').datepicker({
		    format: "yyyy-mm-dd",	//데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
		    autoclose : true,	//사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
		    clearBtn : true, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
		    showWeekDays : true ,// 위에 요일 보여주는 옵션 기본값 : true
		    title: "날짜 선택",	//캘린더 상단에 보여주는 타이틀
		    todayHighlight : true ,	//오늘 날짜에 하이라이팅 기능 기본값 :false 
		    language : "ko"	//달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
		}).on("changeDate", function(e){

        })
	})
</script>
<script type="text/javascript">
  const formform = document.getElementsByName("form1"),
        price = document.form1.price,
        quantity = document.form1.quantity,
        add = document.form1.add,
        minus = document.form1.minus,
        total = document.form1.total;
    
  if (formform){
    total.value = price.value;

    let quantityVal = quantity.value,
        totalVal = total.value,
        priceVal = price.value;

    if(add){
      add.addEventListener('click', function(){
        quantityVal++;
        totalVal = quantityVal * priceVal;
        quantity.value = quantityVal;
        total.value = totalVal;
        console.log(quantityVal, totalVal, priceVal)
      })
    }
      
    if(minus){
      minus.addEventListener('click', function(){
        if (quantityVal > 1){
          quantityVal--;
          totalVal = quantityVal * priceVal;
          quantity.value = quantityVal;
          total.value = totalVal;
          console.log(quantityVal, totalVal, priceVal);
      }else{
        quantityVal = 1;
      }
    })
  }
  </script>
{% endblock script_section %}