.p_Container {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
}

.p_Container .line {
    width: 100%;
    border: solid 2px rgba(0, 0, 0, 0.1)
}

.p_Container .sub-content {
    padding: 0.5rem 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.p_Container .sub_title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;
}


/*input 바로 다음의 label*/
input.chk_material+label {
    cursor: pointer;
}

.select {
    position: relative;
}

.select .option-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
}

.select.active .option-list {
    max-height: none;
}

/* 테마 적용하기 */
#theme {}

#theme .select {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#theme .select:hover {
    color: #333;
    transition: all .3s;
}

#theme .select .text {}

#theme .select .option-list {
    list-style: none;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#theme .select .option-list .option {
    padding: 10px 15px;
}

#theme .select .option-list .option:hover {
    background-color: #f2f2f2;
}