{% extends 'base/base.html' %}
{% load static %}
{% block head %}

{% endblock head %}

{% block contents %}
    {{ msg }}


<div>
    <section class = "table_section">
    <h2>아이스크림 품목 분석결과</h2>
    </section>
    <table class="type11">
        <thead>
        <tr>
          <th scope="cols">상품</th>
          <th scope="cols">전월대비 변동</th>
          <th scope="cols">링크</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>빙그레 투게더</th>
          <td>내용</th>
          <td>내용</th>
        </tr>
        <tr>
          <td>메로나</th>
          <td>내용</th>
          <td>내용</th>
        </tr>
        <tr>
          <td>월드콘</th>
          <td>내용</th>
          <td>내용</th>
        </tr>
        </tbody>
      </table>
      <div>
          <h2>관련 뉴스 기사 목록</h2>
          <table class="type04">
            <tr>
              <th scope="row">아이스크림 가격 인상 불가피</th>
              <td>인도네시아 팜유 수입 제한으로 인해...</td>
            </tr>
            <tr>
              <th scope="row">빙그레 '투게더' 가격 500원 인상하기로</th>
              <td>한여름 아이스크림 매니아들 반발이 거세져...</td>
            </tr>
            <tr>
              <th scope="row">메로나 생산 중단</th>
              <td>러시아산 메로나가 국제 정세 악화로 인해..</td>
            </tr>
          </table>
      </div>

</div>
{% endblock contents %}