.search {
    position: relative;
    width: 600px;
}

.search_input {
    width: 100%;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8fe0e9;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.search_input::placeholder {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.search_img {
    position: absolute;
    width: 17px;
    top: 21px;
    right: 15px;
    float: right;
    filter: invert(100%);
}

.search_button {
    position: absolute;
    width: 55px;
    height: 60px;
    top: 0px;
    right: 0px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}


.def {
    margin-left: 50%;
    /* margin-right: 30%; */
    width: 450px;
    border: 0.2px;
    border-color: black;
}



/*! jQuery UI - v1.13.1 - 2022-01-20
* http://jqueryui.com
* Includes: core.css, accordion.css, autocomplete.css, menu.css, button.css, controlgroup.css, checkboxradio.css, datepicker.css, dialog.css, draggable.css, resizable.css, progressbar.css, selectable.css, selectmenu.css, slider.css, sortable.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    /* support: IE8 */
}

.ui-front {
    z-index: 100;
}

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

/*자동 검색창 리스트 줄간격*/
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
    height: 27px;
}


/* Component containers
----------------------------------*/
.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

/*자동 검색창 배경 및 리스트 위치*/
.ui-widget.ui-widget-content {
    border-radius: 8px;
    text-align: center;
}

.ui-widget-content {
    background: #ffffff;
    color: #8a8a8a;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-state-active {
    border-radius: 8px;
    background: #d5fcffd7;
    font-weight: normal;
    color: #8a8a8a;
}


/* round */

.subtitle {
    width: 65%;
    margin: 20px auto;
}


div.round {
    width: 65%;
    height: 15rem;
    margin: 20px auto;
    border: 4px solid #5d858a;
    border-radius: 40px;
}

.itembox {
    border-radius: 40px;
    padding: 1rem;
    margin: 0 6rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
}

.itembox .itemname {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
}

.itembox .itemname p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.itembox .itemname .count {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 5px -3px 0;
}

.itembox .line {
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.predict {
    display: flex;
    flex-direction: row;
}

.itembox section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.itembox .rowBox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.itembox .rowBox p {
    margin: 0;
}

.itembox .rowBox .t_date {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.itembox .rowBox .won {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Do Hyeon';
    margin-bottom: 3px;
}

.itembox .rowBox .price {
    margin: 0 10px;
    font-size: 2.4rem;
    font-weight: 500;
}

.itembox .rowBox #now_p {
    color: rgba(0, 0, 0, 0.7)
}

.itembox .rowBox #next_p {
    color: #5d858a
}

/* up_centerBox */

.itembox .up_centerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 3rem;
}

.itembox .up_centerBox p {
    margin: 0 2px;
}

.itembox .up_centerBox .text {
    color: rgba(0, 0, 0, 0.5);
}

.itembox .up_centerBox .result {
    font-size: 2rem;
    font-weight: 500;
    color: #FF2D50;
    margin-bottom: -5px;
}

.itembox .up_centerBox .percent {
    font-size: 1.4rem;
    color: #FF2D50;
    font-family: 'Do-Hyeon';
}

.itembox .up_centerBox img {
    margin-bottom: 3px;
}

/* down_centerBox */

.itembox .down_centerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 3rem;
}


.itembox .down_centerBox p {
    margin: 0 2px;
}

.itembox .down_centerBox .text {
    color: rgba(0, 0, 0, 0.5);
}

.itembox .down_centerBox .result {
    font-size: 2rem;
    font-weight: 500;
    color: #0B64D3;
    margin-bottom: -5px;
}

.itembox .down_centerBox .percent {
    font-size: 1.4rem;
    color: #0B64D3;
    font-family: 'Do-Hyeon';
}

.itembox .down_centerBox img {
    margin-bottom: 3px;
}


.itembox .linkbox {
    height: 2rem;
}

.itembox .linkbox a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: #b9cbce;
    color: black;
    transition: 0.2s;
}

.itembox .linkbox a:hover {
    background-color: #596668;
    color: white;
}

/* Team Section
--------------------------------*/
#team {
    background: #fff;
    padding: 30px 0 0 0;
}

#team .section-header h2 {
    box-shadow: inset 0 -20px 0 rgba(56, 171, 177, 0.2);
    padding: 0 0.5rem;
    width: 5rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
}

#team .member .pic {
    overflow: hidden;
    text-align: center;
}

#team .member .details {
    background: #5d858a;
    color: #fff;
    padding: 15px;
    border-radius: 0 0 3px 3px;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}