.search {
    position: relative;
    width: 600px;
}

.search_input {
    width: 100%;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8fe0e9;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.search_input::placeholder {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.search_img {
    position: absolute;
    width: 17px;
    top: 21px;
    right: 15px;
    float: right;
    filter: invert(100%);
}

.search_button {
    position: absolute;
    width: 55px;
    height: 60px;
    top: 0px;
    right: 0px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}

.line{
    width: 60%;
    height: 2px;
    background-color: #e7e7e7;
    border:none;
}

.def{
    margin-left: 50%;
    /* margin-right: 30%; */
    width: 450px;
    border: 0.2px;
    border-color: black;
}

div.round {
    width : 80%;
    height : 120px;
    margin: 50px auto;
    
}

.round {
    
    border: 4px solid #5A78AF;
    border-radius: 40px;
}


div.box{
    
    width : 16%;
    height : 120px;
    margin: 0 auto;
    left : 50px;
    float: left;
    
}

.box {
    
    display: table;
    border: 4px solid #00ff0000;
    border-radius: 40px;
}

.box a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
}
