{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/bbadmin/adminpage.css' %}" rel="stylesheet">
{% endblock head %}

{% block contents %}
<div class = "p_Container">
    <h1>모델 갱신</h1>
    <div class = "line"></div>
    <form id = "myform" action="{% url 'bbadmin:crawl_DB' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "sub-content">
            <div class = "sub_title"> 원자재 선택 </div>
            {% for mt in material_list %}
            <div>
                <input type="checkbox" class = "chk_material" value = "{{mt}}"  name = "material" id="{{mt}}"/>
                <label for="{{mt}}">{{mt}}</label>
            </div>
            {% endfor %}
        </div>
        <div class = "sub-content">
        <div class = "sub_title"> 제품.csv 선택 </div>
        {% for pd in product_list %}
        <div>
            <input type="radio" class = "chk_material" name = "product_csv" value = "{{pd}}" id="{{pd}}"/>
            <label for="{{pd}}">{{pd}}</label>
        </div>
        {% endfor %}
        </div>
        <div class = "sub-content">
        <div class = "sub_title"> 추출할 제품 선택 </div>
        <section name = "product_name" id="theme">
            <div class="select">
            <div class="text">선택</div>
            <input type="hidden" id="search-type" name="product_name" value="commercial">
            <ul class="option-list">
                {% for pName in pName_list %}
                <li class="option" name="search-option" value="{{pName}}">{{pName}} </li>
                {% endfor %}
            </ul>
            </div>
        </section>
        </div>
        <div style="margin:0 auto; width:125px;">
            <input type="submit" style="border-radius:80px;width:120px; border:0;background-color:#d9e6e9;padding:10px;color:black;font-size:15px;" role="button" value="  갱신  ">  
        </div>
    </form>
</div>
{% endblock contents %}

{% block script_section %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function onClickSelect(e) {
        const isActive = e.currentTarget.className.indexOf("active") !== -1;
        if (isActive) {
          e.currentTarget.className = "select";
        } else {
          e.currentTarget.className = "select active";
        }
      }
      
      document.querySelector("#theme .select").addEventListener("click", onClickSelect);
      
      function onClickOption(e) {
        const selectedValue = e.currentTarget.innerHTML;
        document.querySelector("#theme .text").innerHTML = selectedValue;
        $("#search-type").val($(this).attr("value"));
      }
      
      var optionList = document.querySelectorAll("#theme .option");
      for (var i = 0; i < optionList.length; i++) {
        var option = optionList[i];
        option.addEventListener("click", onClickOption);
      }
</script>
{% endblock script_section %}