{% block js %}
<script type="text/javascript" src="/static/js/dev-vue.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<script type="text/javascript" src="/static/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
<style>
    .offset-md-6{margin-left:0% !important; background-color:#e8b4d4 !important;}
    .card{margin-left:50%;
          border-radius:30px;
          background-color:#b4dae7;
          }
    .navbar{width:760px;
        margin:0 auto;
        background-color:#d9e6e9 !important;
    }
    .card-body{font-style:normal !important;}
    .navbar-brand{margin:0 auto;}
    textarea{width:440px !important;}
    ::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    .send-btn{top:21px;}
</style>
{% endblock %} {% block content %}

<p><a href="#app" rel="modal:open"><button>모달창</button></a></p>

<main style="display: none !important">
    <div id="app" class="container top-padding">
        <nav class="navbar navbar-light bg-info" style="width:440px;">
            <span class="navbar-brand mb-0 display-1">Bobbot</span>
        </nav>
        <div class="row">
            <div class="offset-md-2 col-sm-12" style= "height:550px;overflow-y:scroll;margin:0 auto;margin-top:10px;">
                <div class="card col-md-6" v-for="message in messages" v-bind:class="{'user-message': message.user,  'chat-message': message.chat_bot, 'offset-md-6': message.chat_bot}">
                    <div class="card-body">
                        [[message.text]]
                    </div>
                </div>
            </div>

        </div>
        <div id="text-box" class="row top-padding">
            <div class="col-md-8">
                <textarea placeholder="질문을 입력하세요.." class="form-control" v-model="input" v-bind:class="{ 'border-danger': send_blank}" v-on:change="check_content"></textarea>
                <i class="fas fa-arrow-circle-right send-btn" v-on:click="add_message" style="right:-128px;"></i>
            </div>
        </div>
    </div>
</main>
{% endblock %}