{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock head %}

{% block contents %}
<div class="banner-inner" id='Nav'>
    <div class ="banner-cover">
        <h1>원하시는 상품의 물가를 확인해보세요</h1>
        <div class="search">
            <input class ='search_input'
                    type="text"
                    id = 'value'
                    placeholder="궁금한 제품을 검색하세요."
                    onfocus="this.placeholder=''" 
                    onKeypress="javascript:if(event.keyCode==13){search()}">
            <button class = "search_button" type="button" style = 'background-color:transparent;' onclick='search()'>
                <img class ='search_img' src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </button>
        </div>
    </div>
    <div class="round">
        <div class="box">
            <a><h2>급등예상</h2></a>
        </div>
        <div class="box">
            <a href="./url">1.</a>
        </div>
        <div class="box">
            <a href="./url">2.</a>
        </div>
        <div class="box">
            <a href="./url">3.</a>
        </div>
        <div class="box">
            <a href="./url">4.</a>
        </div>
        <div class="box">
            <a href="./url">5.</a>
        </div>
    </div>
    <hr class='line'>
    <table class='def' >
        <td>
            밥비트입니다.
            밥비트입니다.
            밥비트입니다.
            밥비트입니다.
            밥비트입니다.
            밥비트입니다.
        </h3></td>
    </table>
</div>

<script>
    function search() {
        var price = document.getElementById('value').value;
        if (price=='닭고기' || price=='닭'){
            location.href="닭고기";
        }else if (price=='소고기' || price=='소'){
            location.href="소고기";
        }else if (price=='돼지고기' || price=='돼지'){
            location.href="돼지고기";
        }else if (price=='계란' || price =='달걀'){
            location.href="계란";
        }else if (price=='라면'){
            location.href="라면";
        }else if (price=='커피'){
            location.href="커피";
        }else {
            alert('다시 입력해주세요!')
            document.getElementById("value").value ='';
        }
    }
    </script>
{% endblock contents %}